@model StackFlow.Models.Ticket

@{
    ViewBag.Title = "Delete Ticket";
}

<h2>Delete Ticket</h2>

@* Confirm deletion prompt *@
<h3>Are you sure you want to delete this ticket?</h3>

<div>
    <h4>Ticket</h4>
    <hr />

    @* Display ticket details in a definition list *@
    <dl class="dl-horizontal">
        <dt>Title</dt>
        <dd>@Model.Title</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>

        <dt>Due Date</dt>
        <dd>@Model.Due_Date.ToShortDateString()</dd>

        <dt>Status</dt>
        <dd>@Model.Status</dd>

        <dt>Priority</dt>
        <dd>@Model.Priority</dd>
    </dl>
</div>

@* Begin form for deleting the ticket *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() @* Prevents CSRF attacks *@
    @Html.HiddenFor(model => model.Id) @* Hidden field to send ticket ID to the server *@

    <input type="submit" value="Delete" class="btn btn-danger" /> @* Submit button to delete ticket *@
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" }) @* Link to return to list without deleting *@
}

@section Styles {
    <link rel="stylesheet" href="~/css/Ticket.css" />
}
